main > .container {
    padding: 60px 15px 0;
  }

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
main {
  margin-bottom: 3rem;
}

.img-cover {
  object-fit: cover;
  object-position: center;
}
.img-contain {
  object-fit: scale-down;
  object-position: center;
}
.img-slide{
  object-fit: cover;
  object-position: center;
}